New Unity Project/Library/
New Unity Project/Temp/
New Unity Project/obj/Debug/Assembly-CSharp.csprojResolveAssemblyReference.cache
New Unity Project/obj/
New Unity Project/ProjectSettings/
New Unity Project/Assembly-CSharp.csproj
